
.ipynb_checkpoints/clustering-checkpoint.py

.ipynb_checkpoints/dataReader-checkpoint.ipynb

.ipynb_checkpoints/Untitled-checkpoint.ipynb

.ipynb_checkpoints/Untitled-checkpoint.ipynb

dataReader.ipynb

.ipynb_checkpoints/Untitled-checkpoint.ipynb

.ipynb_checkpoints/Untitled-checkpoint.ipynb
